@(newsmessage:NewsDetail,commentmsg:List[Comment])
<!DOCTYPE html>
<html>
<head>
<link href=@routes.Assets.at(
	"stylesheets/newsinfo.css") rel="stylesheet" />
<link href=@routes.Assets.at(
	"stylesheets/homepage.css") rel="stylesheet" />
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div class="news_content">
		<p class="t_newsinfo">@newsmessage.newsFullTitle</p>
		<p class="about_news">@newsmessage.editor</p>
		<p class="about_news" style="padding-bottom: 10px;">@newsmessage.registTime</p>
		<div class="news_part">
			<br>
			<div style="text-align: center;">
				&#160;<img src="http://image.thepaper.cn/www/image/4/433/424.gif"
					width="600" height="600" alt="" />
			</div>
			<div>&#160; &#160; &#160; &#160;彼得·保罗·鲁本斯（Peter Paul
				Rubens，1577年6月28日-1640年5月30日）德国画家，巴洛克画派早期代表人物，也被称为欧洲第一个巴洛克式的画家。他的绘画着眼于生命力与感情的表达，所作一批以宗教和神话为题材的油画《复活》、《爱之园》、《末日审判》等，笔法洒脱自如，整体感强。</div>
			<p class="MsoNormal">
				<span lang="EN-US"><o:p></o:p></span>
			</p>
		</div>
	</div>
	<div id="wenda" name="wenda" class="news_related news_comment"
		style="margin-top: 24px;">
		<div>
			<span id="comm_span" class="more_bt">评论 <font
				style="font-size: 10px; padding-right: 1px;">(</font><font
				style="font: inherit; font-family: arial; vertical-align: baseline; font-size: 12px;">124</font><font
				style="font-size: 10px; padding-left: 1px;">)</font></span>
		</div>
		<div id="commt_list" style="margin-bottom: 9px; min-height: 20px;">
			<div id="commtid">
				<div class="list_com">
					<div id="aaa">
					
					
					@for(comment <- commentmsg){
						<div class="qusans_bd bdbtline" id="ss" style="padding: 10px 0;">
							<div class="qusans_bdl" onclick="priseCommtHotqa(2054422,'82')"
								id="2054422">
								<img src="../img/ydw_zan.png">
								
							</div>
							<div class="qusans_bdr">
								<h3>@comment.userid</h3>
								<div class="qusans_bdrtxt" id="ans_ct2054422">@comment.commentContent</div>
							</div>
						</div>
						 } 
					</div>
					<p>
						<a id="next" href="javascript:getMoreCommnet();"><span
							class="more_bt" id="bbb">加载更多…</span></a>
					</p>

				</div>


			</div>

		</div>
		<div id="aq_commt"
			style="margin-bottom: 20px; min-height: 9px; display: none;">
			<div class="news_ask" id="news_aski">





				<div class="news_hotask">
					<div id="ccc">
						<div class="news_hotqusans bdbtline">
							<div class="qusans_title">
								杜稿钟隶：<span>20分钟前 | <a
									href="point_question.jsp?contid=1346160&amp;commentid=2054967">我来答</a></span>
							</div>
							<h2>
								<a
									href="point_question.jsp?contid=1346160&amp;commentid=2054967&amp;ot=1">为人师表，清华北大都这么苟且！无语</a>
							</h2>
							<div id="qusans_list">
								<div id="new_ans_other2054967"></div>
							</div>
						</div>

						<div class="news_hotqusans bdbtline">
							<div class="qusans_title">
								1099810570：<span>26分钟前 | <a
									href="point_question.jsp?contid=1346160&amp;commentid=2054919">我来答</a></span>
							</div>
							<h2>
								<a
									href="point_question.jsp?contid=1346160&amp;commentid=2054919&amp;ot=1">国内名校各自的特色是什么？原本应该培养不同的人才，所以也应该招收不同的学生才对吧，为何会挤上招生的独木桥呢？</a>
							</h2>
							<div id="qusans_list">
								<div id="new_ans_other2054919"></div>
							</div>
						</div>

					</div>
					<p>
						<a id="next" href="javascript:getMoreQuestion();"><span
							class="more_bt" id="ddd">加载更多…</span></a>
					</p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>